* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Cagliostro', sans-serif;
}

/* redefine header bar color */
.navbar-default {
	background-color: #36F;
}

.navbar-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-brand h1 {
	color: #F90;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration-color: #F90;
}

/*	button (border)					button (hamburger lines)	*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid #F90;
}


.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -45px;
}

/* collapsable menu items */
#nav-list {
	margin-top: 10px;
	background-color: #306;
}

#nav-list a {
	color: #F90;
	text-align: center;
}

#nav-list a:hover {
	background: #FFFFFF;
}

#nav-list a span {
	font-size: 1.8em;
}


#my-main-content .row div {
	background-color: #F90;
	height: 1000px;
}


@media (max-width: 767px) {

	#my-main-content .row div {
		margin-left: 20px;
		margin-right: 20px;
	}


}
